<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" >
<!--        <div class="filter"></div>-->
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <br/>
                    <p *ngFor="let number of [0,1,2,3,4,5,6,7,8,9]">An artist of considerable range, Jane Faker — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p>
                </div>
            </div>
            <br/>
        </div>
    </div>
</div>
