<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true"></div>
  <div class="section profile-content">
    <div class="container">
      <div class="row">
        <div *ngFor="let shelter of sheltersList" class="card col-md-6 ml-auto mr-auto text-center"
             style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Shelter name</h5>
            <!--                  <h6 class="card-subtitle mb-2 text-muted">Shelter name</h6>-->
            <p class="card-text">id: {{shelter.id}}</p>
            <p class="card-text">address: {{shelter.address}}</p>
            <p class="card-text">available beds: {{shelter.availableBeds}}</p>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <button (click)="addToHomeScreen()" *ngIf="showButton">Add to Home Scree</button>
      <br/>
    </div>
  </div>
</div>
