<div class="card col-md-6 ml-auto mr-auto text-center" style="width: 18rem;">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Shelter name</h5>
    <!--                  <h6 class="card-subtitle mb-2 text-muted">Shelter name</h6>-->
    <p class="card-text">id: {{shelter.id}}</p>
    <p class="card-text">address: {{shelter.address}}</p>
    <p class="card-text">available beds: {{shelter.availableBeds}}</p>
    <!--      <a href="#" class="card-link">Another link</a>-->
  </div>
</div>
